html, body {
  background-color: #21232A;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.3rem;
  padding: 70px;
  padding-top: 20px;
}

h1 {
  display: block;
  text-align: center;
}

h3 {
  font-size: 2rem;
}

button {
  border-radius: 15px;
  font-size: 1.3rem;
  margin-right: 10px;
  padding: 10px;
}

button:hover {
  background-color: lightgrey;
}

#txtCategoria {
  border-radius: 10px;
  height: 1.5rem;
  width: 100%;
}

.card {
  align-content: center;
  border: 1px solid white;
  border-radius: 10px;
  flex-grow: 1;
  flex-shrink: 5;
  margin: 5px;
  overflow: hidden;
  text-align: center;
}

.card img {
  max-height: 150px;
}

.card p {
  font-size: 1rem;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}